.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.off,
.desktop {
  display: none;
}

.column-full-mobile {
  flex-basis: 100%;
}

.column-half-mobile {
  flex-basis: 50%;
}

div.menu-mobile {
  align-items: baseline;
}

.row-nowrap {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.desktop {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
  }

  .desktop {
    display: block;
  }

  .column-full-desktop {
    flex-basis: 100%;
  }

  .column-third-desktop {
    flex-basis: calc(100% /3);
  }

  .column-half-desktop {
    flex-basis: 50%;
  }

  .column-fourth-desktop {
    flex-basis: 25%;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .row {
    display: flex;
  }

  .mobile {
    display: none;
  }
}
