@import "https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap";

body {
  font-family: Fraunces, serif;
  color: white;
}

.row-1 {
  width: 100%;
  height: 550px;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.menu-mobile {
  padding: 1rem;
}

/* Desktop */

/* @media screen and (min-width: 756px) {
} */
